.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 50vw;
  height: auto;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colFlex {
  display: flex;
  flex-direction: column;
}
.button {
  display: flex;
  justify-content: center;
  height: 3rem;
}
.quote {
  background-color: RGBA(149, 104, 97, 0.3);
  padding: 1rem 1rem 0;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 1px #222222;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.boxshadow {
  box-shadow: inset 0 -22px RGBa(236, 220, 220, 0.8);
}

@media (min-width: 45rem) {
  .container {
    height: 100vh;
    width: 90vw;
  }
  .flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
  }

  .quote {
    width: 60vw;
    min-width: 250px;
    max-width: 600px;
  }

  .img {
    margin-left: 5rem;
    min-width: 240px;
    width: 30vw;
    height: auto;
  }
}
