html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #cc9b94;
  color: #333333;
}

* {
  box-sizing: border-box;
}

a {
  color: #6b6b6b;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 100px;
  padding: 0 1rem;
  margin: 0 1rem;
  box-shadow: 1px 1px 5px 0px #222222;
  outline: none;
  transition: all 0.5s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}
<<<<<<< HEAD
=======

h5 {
  margin: 0;
}
>>>>>>> 1d711432edb82d6247e917b5a8c34fcd7e2c33bb
